.section-1{
    background-color: rgb(168, 0, 0);
    background-clip: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 13px;
    padding-bottom: 12px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 12px;
    text-align: center;
    text-decoration-thickness:auto;
    
}


/* SOCIAL */
.social{ width:32px;height:32px;}
/* SOCIAL */
