body{
    
    box-sizing: border-box;
}


/* FROM Nav bar  */
.bodystyle{
    width: 90%;
    margin: 0 auto;
    

}
.logostyle{
    width: 108px;
    margin-top: -7px;
}
  /* nav bar */

/* From slider */
.carousel-inner img {
    width: 100%;
    height: 450px;
  }
  .carousel-item{
      position: relative;
  }
  .carousel-caption
  {
      position: absolute;
      top: 0;
      left: 0!important;
      
  }
  .carousel-caption h3{
    
   text-align: left;
   color: black; 
  }
  .carousel-caption p{
    
    text-align: left;
    color: black; 
   }
   .carousel-caption button
   {    
       margin-top: 150px;
       padding: 10px 20px;
       color: white;
       background-color:rgb(168, 0, 0);
       border: none;
       position: absolute;
       font-size: 15px;
       left: 0 ;

   }
          /* Slider ends */

          /* FOOTER */
 .FOOTER
 {
    width:100%;
    background-color: grey;
 }

          /* FOOTER */