  
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
h1,h2,h3{ font-family:'Segoe UI';}

.corona-alert
{
    background-color:rgb(168, 0, 0) ;
    color: white;
    padding: 12px 36px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    display: block;

}



/* FROM Nav bar  */
.bodystyle{
    width: 90%;
    margin: 0 auto;
   
    

}
.logostyle{
    width: 100px;
    margin-top: -7px;
    text-align: center;
}
.btn-border
{
    border: none;
}


  /* nav bar */
  


/* From slider */


.carousel-inner img {
    width: 100%;
    height: 450px;
  }
  .carousel-item{
      position: relative;
  }
  .carousel-caption
  {
      position: absolute;
      top:120px;
      left:70px!important;
      
  }
  .carousel-caption h3{
    
   text-align: left;
   color: black; 
  
  }
  .carousel-caption p{
    
    text-align: left;
    color: black; 
   }
   .carousel-caption button
   {    
      
       padding: 10px 20px;
       color: white;
       background-color:rgb(168, 0, 0);
       border: none;
       position: absolute;
       font-size: 15px;
       left: 0 ;

   }



          /* Slider ends */
          

        /*********** Card section***************** */
          .sec-4
          {
              margin: 40px 0;
          }
          .card
          {
              border: none !important;
          }
          .card-body
          {
              padding: 5px 0 !important;
          }
           /*********** Card section Ends***************** */
          /***** Xbox digital******/

         .msstyle{
             width: 100%;
             height: 450px;
             background-image: url("../images/callofduty");
             background-repeat: no-repeat;
             background-size: 100% 100%;
             margin: 20px 0 50px 0;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: flex-start;
             padding: 70px;
         }
         .pic-button{
            padding: 10px 20px;
            color: white;
            background-color:rgb(168, 0, 0);
            border: none;
            font-size: 15px;
            left: 0 ;

         }
         /*** Xbox digital*** */



/* SOCIAL */
/* .Follow{margin-left: 64px;} */
.social{ width:32px;height:32px;}
/* SOCIAL */

  /* FOOTER */
 footer{
     background: #f2f2f2;
     padding: 50px 0;
    

 }
 footer li{
     list-style: none;
 }
 footer a{
     text-decoration: none;
     color:#818181;
    
 }
 
 .footerbtncredit{
    font-size: 12px;
    display: flex; 
    align-items: flex-end;
    justify-content: space-evenly;
    justify-content: space-between;
   
  
    

 }

/* FOOTER */