







/* SOCIAL */
.social{ width:32px;height:32px;}
/* SOCIAL */

/* FOOTER */
.FOOTER
{
    width:100%;
    background-color: rgb(243, 243, 243);
    height: 1432px;
    padding: 20px 0 10px 0;
}

.FOOTER__list
 {
     list-style: none;
     margin-left: -5px ;
     padding:30px ;
 }

/* FOOTER */